pillow=6.1.0=py37hdc69c19_0
numpy=1.16.4=py37h19fb1c0_0
numpy-base=1.16.4=py37hc3f5095_0
pytelegrambotapi=3.7.1=pypi_0
opencv-contrib-python=4.1.2.30=pypi_0
opencv-python=3.4.7.28=pypi_0
tensorboard=2.1.0=pypi_0
tensorflow=2.1.0=pypi_0
tensorflow-estimator=2.1.0=pypi_0
sortedcollections=1.1.2=py37_0